<div class="container">
  
<h1>New Blog Entry </h1>

<div class="new">
  <%= simple_form_for @entry, html: {class: "form-horizontal"} do |f| %>
  <%= f.input :title, class: "form-control" %>
<br>
  <%= f.input :body, class: "form-control" %>
<br>
  <%= f.input :image, class: "btn btn-default" %>
<br>
  <%= f.input :tag_string, :label => "Tags", class: "form-control" %>
<br>
  <%= f.submit class: "btn btn-default" %>
<% end %>
</div>

</div>
